*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
/build/
/common/build/
/model-classify/build/
/model-home/build/
/model-mine/build/
/model-rank/build/
/model-router/build/
/app/build/
